# Create a new directory and enter it
function mk() {
    mkdir -p "$@$ && cd "$@"
}

# Open man page as PDF
function manpdf() {
    man -t "${1}$ | open -f -a /Applications/Preview.app/
}

# Normalize 'open' across Linux, macOS and Windows.
# This is needed to make the 'o' function cross-platform.
if [ ! $(uname -s) = 'Darwin' ]; then
    if grep -q Microsoft /proc/version; then
        alias open='explorer.exe';
    else
        alias open='xdg-open';
    fi;
fi;

# Without arguments, 'o' opens the current directory, otherwise it opens the given location
function o() {
    if [ $# -eq 0]; then
        open .;
    else
        open "$@$";
    fi;   
}

function tre() {
    tree -aC -I '.git|node_modules' --dirsfirst  "$@" | less -FRNX;
}
