# Bash aliases
alias l="ls -la"
alias ld="ls -ld */"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n"

# Reload the shell (i.e. invoke as a login shell
alias reload="exec ${SHELL} -l"

# Application specific aliases 
alias py="python3"

